config.local.json
.env*
*.user
*.suo
*.pfx
*.key
.vscode/
.idea/
References/
*.dll
*.exe
*.pdb
*.mdb
*.log
*.zip
*.unity3d
PluginData/
bin/
obj/
build/
dist/
work/
Library/
Temp/
Logs/
UserSettings/
.DS_Store
__pycache__/
*.pyc
